#show-container {
  align-items: right;
}

form {
  max-width: 75vh;
}

#list {
  display: flex;
  flex-direction: column; /* Aligner les éléments verticalement */
  align-items: right;
  justify-content: space-between;
}

#list > div {
  display: flex;
  align-items: center; /* Centrer verticalement les éléments */
  margin-bottom: 10px; /* Espacement entre les éléments */
  justify-content: space-between;
}

#list input[type="text"] {
  width: 35%; /* Largeur fixe pour les inputs */
  text-align: center;
}

#list label {
  width: 30%;
  text-align: right;
}

#score {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}
